
.nav-link {
    position: relative;
    color: #4a4a4a;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.arcane {
    background-color: #fff3d1;
    color: #7b5804;
}

.arcane:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.league {
    background-color: #cceeff;
    color: #004a80;
}

.league:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.esports {
    background-color: #ffd700;
    color: #a67c00;
}

.esports:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.valorant {
    background-color: #ffe6e6;
    color: #990000;
}

.valorant:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn-shop {
    background-color: #af4c4c;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-shop:hover {
    background-color: #8e3838;
}


.cart-icon {
    width: 40px;
    height: 40px;
}


.hero-section {
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    text-align: center;
}


nav {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}


nav img {
    width: 50px;
    height: auto;
}

.slider {
    display: flex;
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides label {
    min-width: 100%;
}

.slides img {
    width: 100%;
    height: auto;
    display: block;
}

.nav-buttons {
    text-align: center;
    margin-top: 10px;
}

.nav-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

input[type="radio"]:checked + .slides {
    transform: translateX(calc(-100% * var(--current-slide)));
}

#slide-1:checked ~ .slides {
    transform: translateX(0);
}

#slide-2:checked ~ .slides {
    transform: translateX(-100%);
}

#slide-3:checked ~ .slides {
    transform: translateX(-200%);
}
